.searchbar {
    background-color: #3f51b5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.searchForm {
    width: 456px;
}

.searchFormInput {
    width: 380px;
    border: none;
    padding: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.searchFormButton {
    cursor: pointer;
    border: none;
    padding: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #303f9f;
}